.popup{
    margin: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background: rgba(0,0,0, 0.5);
    z-index: 1;
    top: 0;
}

@media screen and (max-width: 920px){
    .popup{
        flex-direction: column-reverse;
    }
}