.popup__container_opinion{
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    border: none;
    border-bottom: 1px solid darkgrey;
    height: 27px;
    padding-bottom: 13px;
}
