.header__line{
    margin: 0 auto;
    background-image: url("../../../images/Line.svg");
    height: 2px;
    width: 880px;
}


@media screen and (max-width: 768px){
    .header__line{
        max-width: 320px;
    }
}
