.profile__info-edit-button{
    align-self: baseline;
    opacity: 0.7;
}

@media screen and (max-width: 879px){
    .profile__info-edit-button{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 880px){
    .profile__info-edit-button{
        width: 24px;
        height: 24px;
        align-self: flex-start;
        margin-top: 15px;
    }
}


.profile__info-edit-button:hover{
    opacity: 0.4;
    transition: opacity 0.3s;
}