.profile__info_name{
    margin: 0;
    margin-bottom: 16px;
    margin-right: 16px;
    color: #ffff;
    font-family: "Inter", sans-serif;
    align-self: baseline;
}

@media screen and (min-width: 769px){
    .profile__info_name{
        font-size: 42px;
    }
}

@media screen and (max-width: 768px){
    .profile__info_name{
        font-size: 27px;
    }
}