.footer__text{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #545454;
}


@media screen and (max-width: 768px){
    .footer__text{
        font-size: 14px;
    }
}


@media screen and (min-width: 769px){
    .footer__text{
        font-size: 18px;
    }
}