.footer__text{
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    color: #545454;
}


@media screen and (max-width: 879px){
    .footer__text{
        font-size: 14px;
    }
}


@media screen and (min-width: 880px){
    .footer__text{
        font-size: 18px;
    }
}