.element__card{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 361px;
    align-self: center;
    position: relative;
    margin-left: 11px;
}


.element__card:last-child{
    margin-left: 0;
}
