.profile__info-name{
    margin: 0;
    margin-bottom: 16px;
    margin-right: 16px;
    color: #ffff;
    font-family: 'Inter-Medium', 'Optima', sans-serif;
    align-self: baseline;
}

@media screen and (min-width: 880px){
    .profile__info-name{
        font-size: 42px;
    }
}

@media screen and (max-width: 879px){
    .profile__info-name{
        font-size: 27px;
        text-align: center;
    }
}