.profile__info-name{
    margin: 0;
    margin-right: 16px;
    color: #ffff;
    font-family: 'Inter-Medium', 'Optima', sans-serif;
    align-self: baseline;
    max-width: 330px;
    min-width: auto;
}

@media screen and (min-width: 880px){
    .profile__info-name{
        font-size: 42px;
    }
}

@media screen and (max-width: 879px){
    .profile__info-name{
        font-size: 27px;
        text-align: center;
        max-width: 220px;
    }
}