.popup__container-title{
    margin: 0 auto;
    margin-top: 34px;
    color: #000;
    font-family: 'Inter-Black', 'Arial Black', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

@media screen and (max-width: 879px){
    .popup__container-title{
        font-size: 18px;
    }
}