.popup__container_button{
    margin-top: 48px;
    margin-bottom: 37px;
    background-color: #000;
}


@media screen and (max-width: 879px){
    .popup__container_button{
        margin-bottom: 27px;
    }    
}


.popup__container_button:hover{
    opacity: 0.7;
    transition: opacity 0.3s;
}