.profile__info_edit-button{
    align-self: baseline;
    opacity: 0.7;
}

@media screen and (max-width: 768px){
    .profile__info_edit-button{
        width: 18px;
        height: 18px;
    }
}

@media screen and (min-width: 769px){
    .profile__info_edit-button{
        width: 24px;
        height: 24px;
    }
}


.profile__info_edit-button:hover{
    opacity: 0.4;
    transition: opacity 0.3s;
}